*,  *:before,  *:after {
    box-sizing: border-box;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: calc(0.5vw + 15px); 
}

html{
    box-sizing: border-box; 
    height: 100%;
  }

body, .root, .container {
    min-height: 100%; 
    display: flex; 
    flex-direction: column; 
    margin: auto; 
}

.container{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 100%;
    background-color: black;
    font-size: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Maincomponent{
    position: relative;
    height: 90vh;
    width: 90vw;
}

.Navbar {
    position: absolute;
    right: 0;
    z-index: 20;
}

ul {
    margin: 0.5px;   
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
    background-color: rgba(221, 221, 236, 0.3);
    box-shadow: 0.2rem 0.25rem 0.5rem black;
    border-radius: 1rem;
    padding: 0px; 
    margin: 0.5rem
}


li a {
    display: block;
    color: #000;
    padding: 8px 40px;
    text-decoration: none;
  }

p {
    margin: 5px; 
}

p.loading{
    position: absolute; 
    top: 0; 
    left: 0; 
}

.title{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color:  transparent; 
    border-radius: 1rem;
    position: absolute; 
    top: 0vh; 
    left: 0vw; 
    font-size: 2.5rem;
}

.title.loading{
    width: 100%; 
}

.title, h2 {
    color: white;
    filter: drop-shadow(0 3px 1px rgb(92, 63, 10));
    overflow: hidden; 
    white-space: nowrap; 
    letter-spacing: .05rem;
  }

h2{
    font-size: 2rem;
}

h2.loading{
    position: absolute; 
    top: 45vh; 
    left: 0; 
}

.title p {
    font-size: 2.5rem;
}

.title p.tooltip {
	position: absolute;
	font-size: 0.6rem;
	top: -1vh;
    left: 15vw;
    color: white; 
    filter: drop-shadow(-2px -2px 1px black);
}

form{
    text-align: center;
}
  
input[type="text"] {
	font-size: 2.5rem;
	letter-spacing: .05rem;
	white-space: nowrap;
	background-color: transparent;
	border-color: transparent;
    padding: 1px; 
    opacity: 1; 
    color: white;
    filter: drop-shadow(0 3px 1px rgb(92, 63, 10));
}

::-webkit-input-placeholder {
    opacity: 1; 
    color: white;
    filter: drop-shadow(0 3px 1px rgb(92, 63, 10));
  }
  ::-moz-placeholder { 
    opacity: 1; 
    color: white;
    filter: drop-shadow(0 3px 1px rgb(92, 63, 10));
  }
  :-ms-input-placeholder {
    opacity: 1; 
    color: white;
    filter: drop-shadow(0 3px 1px rgb(92, 63, 10));
  }
  :-moz-placeholder {
    opacity: 1; 
    color: white; 
    filter: drop-shadow(0 3px 1px rgb(92, 63, 10));
  }

.current{
    display: flex; 
    flex-direction: column;
}

.firstfade{
    animation: firstfadein 1s ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes firstfadein {
    0%{
        opacity: 0.6;
        transform: scale(0.97);
    }
    100%{
        opacity: 0.7;
        transform: scale(0.99);
    }
}

.fade{
    animation: fadein 1s ease-in-out;
}


@keyframes fadein {
    0%{
        opacity: 0.7;
        transform: scale(0.99);
    }
    100%{
        opacity: 1;
        transform:  scale(1);
    }
}

.currentWeather{
    background: linear-gradient( to top, #ffffff 0%, #ffffff00 100% );
    border: #43545c 1px solid;
    height: 35vh;
    width: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 5vh auto 0 auto;
}

.currentLoading{
    border-radius: 100%;
    height: 35vh;
    width: 35vh;
    transform-style: preserve-3d;
    margin: 5vh auto 0 auto;
}

.currentWeather .pic {
	height: 45%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}


.currentWeather .pic img {
    min-width: 100%; 
    min-height: 100%; 
    scale: 1.4; 
}

.currentWeather div.description{
   margin-top: -4vh; 
   font-size: 1.5rem; 
   filter: drop-shadow(-2px -2px 1px white);
}

.currentWeather div.metrics{
    margin-top: -1vh;
    padding: 4vh; 
    font-size: 1rem; 
    display: flex; 
    justify-content: space-between;
    filter: drop-shadow(-2px -2px 1px white);
}

.daysContainer{
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 3vh; 
}

.Day{
    width: 20vh;
    max-height: 35vh; 
    display: flex;
    flex-direction: column;
    background: linear-gradient(
                      to top,
                      #ffffff 0%,
                      #ffffff00 100%
                    );
    border: #43545c 1px solid;
    transform-style: preserve-3d;
    transition: all 500ms ease;
    padding: 1vw; 
    font-size: 0.5rem;
    margin: 0 4vh 4vh 4vh; 
}

.forcastDay{
    color: white; 
    text-align: center;
    margin: 2px auto; 
    font-size: 1.5rem; 
    filter: drop-shadow(0 3px 1px rgb(92, 63, 10)) ;
}

.Day div:nth-child(2){
    height: 35%; 
    display: flex;  
    justify-content: center; 
    align-items: center;
    overflow: hidden; 
    filter: drop-shadow(0 3px 1px white);
}

.Day div:nth-child(3){
    text-align: center; 
    margin: 0; 
    filter: drop-shadow(0 3px 1px white);
}

.Day div img {
    min-width: 100%;
}

.errorForm {
    position: absolute;
    top: 45vh;
    left: 35vw;
    height: 2rem;
    background-color: white;
    color: black; 
    mix-blend-mode: difference;
    width: 25vw;
    margin: auto;
    border-radius: 0.5rem;
    padding: 0.1rem;      
}


.errorForm input[type=text]{
    padding: 0.1rem; 
    color: black; 
    font-size: 1.5rem;
}

.error {
    width: 100vw; 
    text-align: center; 
    overflow: hidden;
}

.error h1 {
    color: white;
    font-size: 10rem; 
    mix-blend-mode: difference;
    overflow: hidden; 
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 50vh;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);	
    transform: translateX(100%);
    -moz-animation: scroll-left 10s linear infinite;
    -webkit-animation: scroll-left 10s linear infinite;
    animation: scroll-left 10s linear infinite;
}

@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); 
 -webkit-transform: translateX(100%); 
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); 
 -webkit-transform: translateX(-100%); 
 transform: translateX(-100%); 
 }
}

footer{
    padding-top   : 0.3rem;
  }

footer a{
    text-decoration: none; 
    color: black; 
    font-size: 0.6rem;
}

footer.love {
      font-size: 0.3rem;
      color: red; 
    }

@media (max-width: 600px) {
.Navbar {
    position: relative;
}

ul {
    margin: 0.25px;   
    flex-direction: row;
}

.title{
    position: relative; 
    flex-wrap: nowrap;
    margin-top: 10px; 
    justify-content: left; 
}
.title p {
    font-size: 2rem;
    margin: 1px;
}

.title form {
	max-width: 45vw;
}

.title input {
    font-size: 2rem;
	padding: 0px;
}

.title p.tooltip {
    left: 35vw;
    font-size: 0.7rem; 
}

h2{
    font-size: 1.5rem; 
}

.errorForm {
 width: 90%; 
 left: 3vw; 
}

.error h1 {
	font-size: 3rem;
}

.Maincomponent .css-1hv9hnn{
    height: 25vh;
    width: 25vh;
}

.Maincomponent .css-1ghrie9, .Maincomponent .css-qg4eyy, .Maincomponent .css-5u8h2s{
    height: 35vh;
    width: 35vh;
    /* transform: translate(50%, 50%) */
}

.currentWeather {
	margin: 20px auto;
}

} 